<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>newScraper</title>
  <link rel="stylesheet" href="styles/reset.css" type="text/css">
  <link rel="stylesheet" href="styles/styles.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/handlebars.runtime.min.js"></script>
  <script src="js/hbs-templates.js"
</head>

<body>
  <header>
    News Scraper
  </header>

  {{{body}}}
</body>

</html>