<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>newScraper</title>
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <link rel="stylesheet" href="./reset.css" type="text/css">
  <link rel="stylesheet" href="./build/styles.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./build/hbs-runtime.js"></script>
  <script src="./build/hbs-templates.js"></script>
</head>

<body>
  <header>
    <h1>Guardian Simple Scraper</h1>
  </header>

  {{{body}}}

  <script src='main.js'></script>
</body>

</html>