<main>
  <section id='articles-section'>
    <div id='new-articles'>
      <span class='load-msg'>Retrieving new articles...</span>
    </div>

    <div id='old-articles'>
      <span class='load-msg'>Retrieving articles...</span>
    </div>
  </section>

  <section id='notes-section'>
    <h2>Notes:</h2>

    <div id='notes'>
      <span class='load-msg'>There are no articles currently selected.</span>
    </div>
  </section>
</main>