$dark-red: #cc0000;
$pink: #ffecef;
$yellow: #ffff7f;
$black: #333333;
$dark-grey: #4c4c4c;
$light-grey: #e5e5e5;
$white: #fcfcfc;
$standard-margin: 16px;
$standard-radius: 10px;
$standard-border: 2px solid;

@mixin component($border-color, $gradient-color) {
  border: $standard-border $border-color;
  border-radius: $standard-radius;
  padding: $standard-radius;
  background-image: linear-gradient(to bottom right, $gradient-color 5%, $white);
  margin-bottom: $standard-radius;
}

%flex-row {
  display: flex;
  justify-content: center;
}

%flex-row-between {
  display: flex;
  justify-content: space-between;
}

%flex-center {
  flex-direction: column;
  align-items: center;
}

html, body {
  height: 100%;
}

body {
  @extend %flex-row;
  @extend %flex-center;
  background-color: $white;
  font-size: $standard-margin;
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.1;
  color: $black;
}

header {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

main {
  @extend %flex-row;
  width: 100%;
  max-width: 960px;
  height: 85%;
  margin: $standard-margin auto;

  section {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    padding: $standard-radius;
    border: $standard-border $light-grey;
  }

  #notes-section {
    width: 40%;
    border-left: $standard-border $black;
    .note-input {
      padding: $standard-radius;
      display: flex;
      flex-direction: column;
      textarea, button {
        font-family: inherit;
        font-size: inherit;
      }
    }
    .note {
      @include component($yellow, $yellow);
    }
  }

  #articles-section {
    width: 60%;
    .article {
      @include component($dark-grey, $light-grey);
      @extend %flex-row-between;
    }
    .new-article {
      @include component($dark-red, $pink);
      @extend %flex-row-between;
    }
    .content {
      display: inherit;
    }
    .note-button {
      margin-left: $standard-radius;
      cursor: pointer;
    }
  }
}

h2 {
  display: inline-block;
  padding: $standard-radius;
}

.load-msg {
  @extend h2;
  color: $dark-red;
}

.msg {
  color: $dark-red;
  margin-right: $standard-radius;
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }

  main {
    flex-direction: column;
    align-items: center;
    height: 95%;

    #articles-section {
      width: 95%;
      height: 60%;
    }

    #notes-section {
      width: 95%;
      height: 40%;
      border-left: $standard-border $light-grey;
    }
  }
}
