$dark-red: #cc0000;
$pink: #ffecef;
$black: #333333;
$dark-grey: #4c4c4c;
$light-grey: #e5e5e5;
$white: #fcfcfc;
$standard-margin: 16px;
$standard-radius: 10px;
$standard-border: 2px solid;

@mixin component($border-color, $gradient-color) {
  border: $standard-border $border-color;
  border-radius: $standard-radius;
  padding: $standard-radius;
  background-image: linear-gradient(to bottom right, $gradient-color 5%, $white);
  margin-bottom: $standard-radius;
}

%flex-row {
  display: flex;
  justify-content: center;
}

%flex-center {
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $white;
  font-size: $standard-margin;
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: $black;
}

main {
  @extend %flex-row;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  section {
    margin: $standard-margin;
  }

  #notes-section {
    border-left: $standard-border $black;
    .note {
      
    }
  }

  #articles-section {
    .new-article {
      @include component($dark-red, $pink);
    }
    .article {
      @include component($dark-grey, $light-grey);
    }
  }
}

