<div class='new-article'>
  <div class='content'>
    <span class='msg'>
      *NEW
    </span>
    <span>{{topic}}: <a href={{url}} target="blank">{{headline}}</a></span>
  </div>
  <span class='note-button'>
    ✍
  </span>
</div>