<div class='note-input' data-articleId={{_id}}>
  <textarea rows='4' placeholder='Add text here' maxlength="250"></textarea>
  <button class='addNote-button'>Add Note</button>
</div>

{{#if note}}
  {{#each note}}
    <div class='note'>
      {{body}}
    </div>
  {{/each}}
{{else}}
  <span class='load-msg'>This article has no notes.</span>
{{/if}}

