<div class='note-input'>
  Add a new note here
</div>

{{#if notes}}
  {{#each notes}}
    <div class='note'>
      this is a note
    </div>
  {{/each}}
{{else}}
  <span class='load-msg'>This article has no notes.</span>
{{/if}}

